PORT=3000
NODE_ENV=development

# Configuracion de Base de Datos SQL Server
# Cambia DB_USE_WINDOWS_AUTH a "true" si usas Autenticacion de Windows
DB_USE_WINDOWS_AUTH=false

# Si usas Autenticacion SQL Server, pon tu usuario y contraseña
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña

# Servidor e Instancia (Ej: localhost, o nombre_de_tu_equipo)
DB_SERVER=localhost
DB_DATABASE=CursosDBCarnero

# Descomenta esta linea si tu SQL Server usa una instancia específica (Ej: SQLEXPRESS)
# DB_INSTANCE=SQLEXPRESS

# Opciones de seguridad (dejar en false/true para desarrollo local)
DB_ENCRYPT=false
DB_TRUST_CERT=true
